.profile-container {
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  

.profile-parent {
    display: flex; 
    align-items: center;
    color: aliceblue;
} 

.profile-details {
    font-size: 24px;
    font-family: "Poppins SemiBold";
} 

.profile-details-role {
    display: flex; 
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1 {
    font-size: 28px;
    font-family: monospace;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  
  .typical-class {
    color: antiquewhite;
  }
  
  .profile-role-tagline {
    color: antiquewhite;
  } 
  
  .highlighted-text {
    color: rgb(94, 161, 240)
  } 
  
  .primary-text {
    color: white
  } 

.profile-role-tagline {
    font-size: 19px; 
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
} 

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px; 
    background-color: cornsilk;
    color: rgb(1, 1, 1)
} 

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1.5px 0px 0px var(--blurple);
    border-radius: 50%; 
    width: 380px;
    height: 380px;
    margin: 0 0 0 100px;
} 

.profile-picture-background {
    height: 92%;
    width: 92%; 
    background-image: url('../../../Assets/Home/IMG_6940\ \(1\).jpeg');
    background-size: cover; 
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1.5s ease-out;
}

.profile-picture-background:not(:hover) {
    transform: scale(1.00);
    transition: 1.5s ease-in;
} 

.cols .cols-icon i {
    color: white;
    padding: 8px;
    padding-left: 0px;

}

.cols .cols-icon i:hover {
    transform: scale(1.5);
} 

@media only screen and (max-width: 1110px) {
    .profile-picture {
        margin: 0 0px 0 80px
    }

    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .primary-text {
        font-size: 12px;
    }

    .profile-options .btn {
        width: 120px;
        padding: 11px;
        z-index: 700;

    }
}

@media only screen and (max-width: 910px) { 
    .profile-picture {
        height: 320px; 
        width: 320px;
        margin: 0 0 0 4px
    }
}

@media only screen and (max-width: 810px) {
    .profile-picture {
        margin: 0!important;
    }

    .profile-parent {
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .profile-options {
        display: flex; 
        justify-content: space-between;
    }

    .profile-details {
        margin: 25px 0 0 0;
    }

    .profile-options .highlighted-btn {
        margin: 0!important 
    }

    .profile-options .profile-details-role {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) { 
    .profile-pricture {
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profile-detials {
        width: 90%;
    }
}